<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="src/styles/styles.css">
        <title>Typescript Fighting</title>
    </head>

    <body>
        <div class="wrapper">
            <h2>Fight</h2>
            <h3>The Game</h3>
            <div class="spoiler"><p>Battle begins in the console!</p></div>
        </div>
        <div id="app"></div>
    </body>
</html>